<!DOCTYPE html>
<html>
<head>
	<title>Control</title>
	</head>
	<body>
		<h1>Controles</h1>
		<form action="{{ url_for('handle_data') }}" method = "post">
			{% if disp.luz_1 %}
				<h2>Luz 1 <input type="checkbox" 
								 name="luz_1" 
								 checked ></h2>
			{% else %}
				<h2>Luz 1 <input type="checkbox" 
								 name="luz_1"></h2>
			{% endif %}
			{% if disp.luz_2 %}
				<h2>Luz 2 <input type="checkbox" 
								 name="luz_2" 
								 checked ></h2>
			{% else %}
				<h2>Luz 2 <input type="checkbox" 
								 name="luz_2"></h2>
			{% endif %}
			{% if disp.luz_3 %}
				<h2>Luz 3 <input type="checkbox" 
								 name="luz_3" 
								 checked ></h2>
			{% else %}
				<h2>Luz 3 <input type="checkbox" 
								 name="luz_3"></h2>
			{% endif %}
			{% if disp.luz_4 %}
				<h2>Luz 4 <input type="checkbox" 
								 name="luz_4" 
								 checked ></h2>
			{% else %}
				<h2>Luz 4 <input type="checkbox" 
								 name="luz_4"></h2>
			{% endif %}
			{% if disp.sensor_intensidad %}
				<h2>sensor_intensidad <input type="checkbox" 
								 name="sensor_intensidad" 
								 checked ></h2>
			{% else %}
				<h2>sensor_intensidad <input type="checkbox" 
								 name="sensor_intensidad"></h2>
			{% endif %}
			{% if disp.sensor_movimiento %}
				<h2>sensor_movimiento <input type="checkbox" 
								 name="sensor_movimiento" 
								 checked ></h2>
			{% else %}
				<h2>sensor_movimiento <input type="checkbox" 
								 name="sensor_movimiento"></h2>
			{% endif %}
			{% if disp.sensor_luminosidad %}
				<h2>sensor_luminosidad<input type="checkbox" 
								 name="sensor_luminosidad" 
								 checked ></h2>
			{% else %}
				<h2>sensor_luminosidad <input type="checkbox" 
								 name="sensor_luminosidad"></h2>
			{% endif %}
			<input type="submit" value="Submit">
		</form>
	</body>
</html>