<!DOCTYPE html>
<html>
<head>
        <title>Control</title>
        </head>
        <body>
                <h1>Controles</h1>
                <form action="{{ url_for('handle_data') }}" method = "post">
                        {% if disp.luz_1 %}
                                <h2>Luz 1 <input type="checkbox" 
                                                                 name="luz_1" 
                                                                 checked ></h2>
                        {% else %}
                                <h2>Luz 1 <input type="checkbox" 
                                                                 name="luz_1"></h2>
                        {% endif %}
                        {% if disp.led %}
                                <h2>Led <input type="checkbox" 
                                                                 name="led" 
                                                                 checked ></h2>
                        {% else %}
                                <h2>Led <input type="checkbox" 
                                                                 name="led"></h2>
                        {% endif %}
                        {% if disp.sensor_intensidad %}
                                <h2>Intensidad Led <input type="range" min="1" max="100" value="50" class="slider" id="myRange"></h2>
  									
								
                        {% else %}
                                <h2>Intensidad Led <input type="range" min="1" max="100" value="50" class="slider" id="myRange"></h2>
                        {% endif %}
                        {% if disp.sensor_movimiento %}
                                <h2>sensor_movimiento <input type="checkbox" 
                                                                 name="sensor_movimiento" 
                                                                 checked ></h2>
                        {% else %}
                                <h2>sensor_movimiento <input type="checkbox" 
                                                                 name="sensor_movimiento"></h2>
                        {% endif %}
                        {% if disp.sensor_luminosidad %}
                                <h2>sensor_luminosidad<input type="checkbox" 
                                                                 name="sensor_luminosidad" 
                                                                 checked ></h2>
                        {% else %}
                                <h2>sensor_luminosidad <input type="checkbox" 
                                                                 name="sensor_luminosidad"></h2>
                        {% endif %}
                        <input type="submit" value="Submit">
                </form>
        </body>
</html>